.DS_Store

gen/st-key.env
gen/.env
.env

gen/azure/uber-eats.json
gen/mssql/users.json
gen/postgres/drivers.json

.idea/
.vscode/

.databricks

terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfplan
terraform/*.log
terraform/credentials.auto.tfvars
terraform/.terraform.tfstate.lock.info

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/

.ipynb_checkpoints/
*.ipynb

*.tmp
*.bak
*~
